* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

:focus {
  outline: #08f auto 4px;
}

body.using-mouse :focus {
  outline: none;
}